@media print,
(max-width: 1499px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 16px;
        --font_size_title: 48px;
    }


    .cont
    {
        padding: 0 32px;
    }



    .key-features__badge-inner .badge
    {
        font-size: 27px;
        line-height: 31px;

        height: calc(100% - (100% - 56px)*var(--progress, 0));
    }

    .key-features--automation .badge
    {
        width: calc(100% + 12rem - (100% + 12rem - 280px)*var(--progress, 0));
    }



    /*----------
        Tabs
    ----------*/
    .tabs
    {
        margin-bottom: 72px;

        border-radius: 80px;
    }


    .tabs button
    {
        font-size: 19px;
        line-height: 23px;

        padding: 12px 26px 14px;
    }



    /*--------------
        All link
    --------------*/
    .all_link
    {
        margin-top: 60px;
    }


    .all_link a
    {
        font-size: 19px;
        line-height: 23px;

        padding: 20px 40px 22px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item + .accordion_item
    {
        margin-top: 32px;
    }


    .accordion_item .head
    {
        padding: 28px 88px 28px 32px;

        border-width: 12px;
    }


    .accordion_item .head .title
    {
        font-size: 22px;
    }


    .accordion_item .head .icon
    {
        right: 24px;

        width: 15px;
        height: 24px;
    }


    .accordion_item .data
    {
        font-size: 18px;
        line-height: 160%;

        padding: 24px 32px 32px 44px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 48px 0;
    }


    header .logo img
    {
        width: 200px;
    }


    header .menu_item + .menu_item
    {
        margin-left: 52px;
    }

    header .menu_item > a
    {
        font-size: 20px;
        line-height: 24px;
    }

    header .menu_item > a.btn
    {
        margin-left: 0;
        padding: 13px 24px 15px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 56px;
    }


    .block_head .pre_title
    {
        font-size: 27px;
        line-height: 31px;
    }


    .block_head .title
    {
        line-height: 160%;
    }


    .block_head .desc,
    .block_head.center .desc
    {
        font-size: 22px;
        line-height: 160%;

        width: 1096px;
        margin-top: 8px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .input
    {
        font-size: 19px;

        height: 70px;
        padding: 0 29px;
    }


    .form .submit_btn
    {
        font-size: 19px;
        line-height: 23px;

        height: 70px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        margin-bottom: 172px;
        padding: 220px 0 0;
    }

    .first_section:before
    {
        height: 1016px;
    }


    .first_section .title
    {
        font-size: 56px;
    }


    .first_section .desc
    {
        font-size: 25px;

        width: 948px;
        margin-top: 32px;
    }


    .first_section .items
    {
        height: 524px;
    }

    .first_section .items .item
    {
        font-size: 20px;

        padding: 24px;
    }

    .first_section .items .icon
    {
        margin-right: 16px;
    }


    .first_section .btn
    {
        width: 432px;
        height: 172px;
    }


    .first_section .btn .icon
    {
        width: 100px;
        height: 100px;
        margin-right: 32px;
    }

    .first_section .btn .icon svg
    {
        width: 56px;
        height: 56px;
    }


    .first_section .btn img
    {
        width: 200px;
    }



    /*---------------
        Who needs
    ---------------*/
    .who_needs
    {
        margin-bottom: 100px;
    }


    .who_needs .block_head
    {
        margin-bottom: 60px;
    }


    .who_needs .row
    {
        margin-bottom: -48px;
        margin-left: -32px;
    }

    .who_needs .row > *
    {
        width: calc(33.333% - 32px);
        margin-top: 40px;
        margin-bottom: 48px;
        margin-left: 32px;
    }


    .who_needs .item
    {
        padding: 100px 40px 40px;
    }


    .who_needs .item .thumb
    {
        top: -40px;
    }


    .who_needs .item .title
    {
        font-size: 26px;
        line-height: 30px;
    }


    .who_needs .item .desc
    {
        font-size: 19px;
        line-height: 160%;

        margin-top: 24px;
        padding-left: 52px;
    }

    .who_needs .item .desc .icon
    {
        width: 36px;
        height: 36px;
    }


    .who_needs .tooltip
    {
        top: 24px;
        right: 24px;
    }


    .who_needs .tooltip .btn,
    .who_needs .tooltip .btn svg
    {
        width: 32px;
        height: 32px;
    }


    .who_needs .tooltip .mini_modal,
    .who_needs .tooltip .mini_modal.active
    {
        bottom: calc(100% + 24px);

        width: 420px;
        margin-left: -210px;
        padding: 28px 80px 28px 28px;
    }

    .who_needs .item:nth-child(3n) .tooltip .mini_modal,
    .who_needs .item:nth-child(3n) .tooltip .mini_modal.active
    {
        right: -24px;
        left: auto;
    }


    .who_needs .tooltip .mini_modal:after
    {
        width: 28px;
        height: 14px;

        border-top-width: 14px;
        border-right-width: 14px;
        border-left-width: 14px;
    }

    .who_needs .item:nth-child(3n) .tooltip .mini_modal:after
    {
        right: 26px;
        left: auto;
    }


    .who_needs .tooltip .close_btn,
    .who_needs .tooltip .close_btn .icon
    {
        width: 32px;
        height: 32px;
    }


    .who_needs .tooltip .title
    {
        font-size: 23px;
        line-height: 29px;
    }

    .who_needs .tooltip .desc
    {
        font-size: 16px;
        line-height: 160%;

        margin-top: 16px;
        padding-left: 0;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages
    {
        margin-bottom: 124px;
        padding: 96px 0;
    }


    .advantages .block_head
    {
        margin-bottom: 60px;
    }


    .advantages .row
    {
        margin-left: -32px;
    }

    .advantages .row > *
    {
        width: calc(33.333% - 32px);
        margin-top: 48px;
        margin-left: 32px;
    }


    .advantages .item
    {
        padding: 80px 40px 40px;
    }


    .advantages .item .icon
    {
        top: -48px;
    }


    .advantages .item .name
    {
        font-size: 26px;
        line-height: 32px;
    }


    .advantages .item .desc
    {
        font-size: 17px;
        line-height: 160%;

        margin-top: 28px;
    }



    /*-------------
        Modules
    -------------*/
    .modules
    {
        margin-bottom: 124px;
    }


    .modules .module .video_link
    {
        margin-top: 0;
        margin-left: 40px;
    }


    .modules .module .video_link img:not(.bg)
    {
        width: 480px;
    }


    .modules .module .video_link .bg
    {
        top: 0;
        left: -48px;

        width: 580px;
        height: 490px;
    }


    .modules .module .video_link .icon
    {
        width: 96px;
        height: 96px;
        padding-left: 6px;
    }

    .modules .module .video_link .icon svg
    {
        width: 30px;
        height: 35px;
    }


    .modules .module .data
    {
        width: calc(50% - 72px);
    }


    .modules .module .title
    {
        font-size: 34px;
    }


    .modules .module .desc
    {
        font-size: 17px;
        line-height: 160%;

        width: 100%;
        margin-top: 20px;
    }


    .modules .module ul
    {
        width: 100%;
        margin-top: 36px;
    }


    .modules .module li + li
    {
        margin-top: 24px;
    }

    .modules .module li
    {
        font-size: 19px;
        line-height: 160%;

        min-height: 36px;
        padding-left: 56px;
    }

    .modules .module li .icon
    {
        width: 36px;
        height: 36px;
    }



    /*-----------
        Stats
    -----------*/
    .stats .block_head
    {
        margin-bottom: 60px;
    }


    .stats .item
    {
        font-size: 25px;
        line-height: 140%;
    }


    .stats .item .val
    {
        font-size: 88px;
    }


    .stats .trusted
    {
        margin-top: 88px;
    }



    /*-------------
        Trusted
    -------------*/
    .trusted
    {
        margin-bottom: 124px;
    }


    .trusted .logos
    {
        width: calc(50% - 24px);
    }


    .trusted .logos > *
    {
        height: 200px;
    }


    .trusted .data
    {
        width: calc(50% - 52px);
    }


    .trusted .pre_title2
    {
        font-size: 17px;
        line-height: 21px;

        margin-bottom: 32px;
        padding-left: 96px;
    }

    .trusted .pre_title2:before
    {
        width: 72px;
    }


    .trusted .title
    {
        font-size: 34px;
        line-height: 128%;
    }


    .trusted .desc
    {
        font-size: 18px;
        line-height: 160%;

        margin-top: 24px;
    }


    .trusted .link
    {
        font-size: 19px;
        line-height: 23px;

        margin-top: 40px;
        padding: 20px 36px 22px;
    }



    /*--------------
        Articles
    --------------*/
    .articles
    {
        margin-bottom: 100px;
    }


    .articles .block_head
    {
        margin-bottom: 72px;
    }


    .articles .row .list
    {
        width: calc(100% - 600px);
    }

    .articles .row .list > * + *
    {
        margin-top: 32px;
    }



    .articles .article .thumb
    {
        width: 200px;
        height: 140px;

        border-radius: 14px;
    }


    .articles .article .date
    {
        font-size: 15px;
        line-height: 23px;

        right: 12px;
        bottom: 12px;

        padding: 0 12px;
    }


    .articles .article .thumb + *
    {
        width: calc(100% - 224px);
    }


    .articles .article .name
    {
        font-size: 19px;
        line-height: 160%;
    }


    .articles .article .desc
    {
        font-size: 17px;
        line-height: 160%;

        margin-top: 16px;
    }



    .articles .article.big
    {
        width: 552px;
    }

    .articles .article.big .thumb + *
    {
        margin-top: 32px;
    }


    .articles .article.big .date
    {
        margin-bottom: 16px;
    }


    .articles .article.big .name
    {
        font-size: 23px;
        line-height: 160%;
    }


    .articles .article.big .desc
    {
        width: 400px;
        margin-top: 20px;
    }



    /*-----------------
        Order block
    -----------------*/
    .order_block
    {
        margin-bottom: 100px;
        padding: 72px 0 92px;
    }


    .order_block .block_head
    {
        margin-bottom: 56px;
    }


    .order_block .form
    {
        width: 700px;
    }

    .order_block .form .line
    {
        width: calc(100% - 276px);
    }

    .order_block .form .submit
    {
        width: 256px;
    }



    /*---------
        FAQ
    ---------*/
    .faq
    {
        margin-bottom: 124px;
    }


    .faq .block_head
    {
        margin-bottom: 56px;
    }




    /*------------
        Schema
    ------------*/
    .schema
    {
        margin-bottom: 124px;
    }


    .schema .block_head
    {
        margin-bottom: 72px;
    }


    .schema .data
    {
        width: calc(50% - 52px);
    }


    .schema .data .title
    {
        font-size: 35px;
        line-height: 41px;

        margin-bottom: 32px;
    }


    .schema .data .desc
    {
        font-size: 20px;
        line-height: 160%;
    }


    .schema .data ol
    {
        margin-top: 40px;
    }


    .schema .data li
    {
        font-size: 20px;
        line-height: 160%;

        min-height: 48px;
        padding-left: 72px;
    }

    .schema .data li:before
    {
        font-size: 25px;
        line-height: 48px;

        width: 48px;
        height: 48px;

        border-radius: 12px;
    }

    .schema .data li + li
    {
        margin-top: 24px;
    }



    .schema .quote
    {
        width: calc(50% - 52px);
    }


    .schema .quote .photo
    {
        width: 440px;
        height: 552px;
    }


    .schema .quote .info
    {
        width: calc(100% - 60px);
        margin-top: -180px;
        padding: 36px 36px 36px 56px;

        border-width: 12px;
    }


    .schema .quote .text
    {
        font-size: 18px;
        line-height: 160%;
    }

    .schema .quote .text:before
    {
        left: -24px;
    }


    .schema .quote .cite
    {
        font-size: 19px;
        line-height: 160%;

        margin-top: 32px;
    }


    .schema .quote .stars
    {
        margin-top: 32px;
    }

    .schema .quote .stars .icon
    {
        width: 20px;
        height: 20px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding: 72px 0 52px;
    }



    footer .logo
    {
        width: calc(50% - 48px);
    }

    footer .logo img
    {
        width: 200px;
    }


    footer .slogan
    {
        font-size: 20px;
        line-height: 24px;

        width: calc(50% - 48px);
    }


    footer .text
    {
        font-size: 19px;
        line-height: 25px;

        width: calc(50% - 48px);
        margin-top: 52px;
    }


    footer .email,
    footer .phone
    {
        font-size: 19px;
        line-height: 25px;

        width: calc(50% - 48px);
        margin-top: 40px;
    }


    footer .copyright
    {
        font-size: 19px;
        line-height: 25px;

        margin-top: 40px;
    }
}
